body {
    background-color: greenyellow;
    height: 100vh;
    display: flex;

}

.card{
    background-color: white;
    width: 250px;
    height: 250px;
    border-color: black;
    margin:auto;
    border-radius: 25px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 180px;
    border: 1px solid black;
    font-size: 90px;
    display: inline-block;

    .top{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 80px;
    }
    .bottom{
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 80px;
    }
    


}






