
body {
    background-image: url('https://images.unsplash.com/photo-1626775238053-4315516eedc9?auto=format&fit=crop&q=80&w=2073&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    display: flex;
    background-size: cover;

}

.mainCard{
    background-color: white;
    width: 250px;
    height: 280px;
    margin:auto;
    border-radius: 25px;
    position: relative;
    text-align: center;
    display: flex;
    padding: 20px;
    padding-top: 180px;
    border: 2px solid black;
    font-size: 80px;
    display: inline-block;
    box-shadow: 3px 3px 7px rgba(0, 0, 0.3);
    display: inline-block;

}
.button {
    margin-top: 45%;
    margin-left: 43.5%;
    position: absolute;
}

.theButton {
    border: none;
    margin: auto;
    min-width: 200px;
    color: black;  
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white ;
    box-shadow: 0 9px gray;
    
  
   
}
    
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    margin-left: -50px;
}

.center {
        font-size: 100px;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 160px;
        left: 140px;
    }
    
#topSuit {
    font-size: 80px;
    position: absolute;
    left: 15px;
    top:10px;
    color:red

}

#bottomSuit {
    font-size: 80px;
    position:absolute;
    bottom: 10px;
    right: 15px;
    color: red;
    rotate: 180deg;
}


.heart {
 color: red;
}

.spade {
    color:black
}

.diamond {
    color:red
}

.club {
    color: black
}

